<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/logo.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>CuisiNet</title>

	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt="" width="100" height="100"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
							<li class="nav-item active"><a class="nav-link" href="index.html#promo">Promo</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
									
									<li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
									<li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
								</ul>
							</li>
							<li class="nav-item active"><a class="nav-link" href="events.html">Events</a></li>
						    <li class="nav-item active"><a class="nav-link" href="login.html">Login</a></li>
							<li class="nav-item"><a class="nav-link" href="recipes.html">Recipes</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Recipes</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Recipes</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
						
                        <article class="row blog_item">
                            
                            </div>
							<h1>Sucré</h1>
                            <div  class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/crepe.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Crêpes : la meilleure recette rapide </h2>
                                        </a>
                                        <p>farine 250gr 
											<br>lait 1/2 litre<br>sucre 2 c à s<br>oeuf 4<br>sel 1pincée<br>beurre fondu 50gr

										</p>
											
                                        <a href=""  class="white_bg_btn">View More</a>
									<br>
                                    </div>
                                </div>
                            </div>
                        </article>
						
                        <article class="row blog_item">
                           
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/fondant.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Fondants au chocolat en ramequins</h2>
                                        </a>
                                        <p>200 g de chocolat <br>
											150 g de beurre <br>
											150 g de sucre en poudre <br>
											50 g de farine <br>
											3 oeufs</p>
                                        <a href="single-blog.html" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                           
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/cookies.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Cookies : la meilleure recette</h2>
                                        </a>
                                        <p>oeuf 1 <br>beurre 85gr <br>pepites de chocolat 100gr <br>levure chimique 1 c à c <br>sucre 85gr <br>farine 150gr <br>sucre vanille 1sachet <br>sel 1/2 c à c
										</p>
                                        <a href="single-blog.html" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<aside class="left">
							<h1>Salé</h1>
						<aside class="row blog_item">
                            
                            
                            <div  class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/makrouna.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Les Véritables Spaghetti à la Bolognaise </h2>
                                        </a>
                                        <p>400 g. de spaghettis <br>
											500 g. de boeuf hache <br>
											800 g. de tomates pelées <br>
											200 g. de coulis de tomate <br>
											100 g. de Parmigiano Reggiano Galbani <br>
											2 petits oignons <br>
											1 cuillère(s) à soupe d' Huile d'olive <br>
											Sel & Poivre du moulin</p>
                                        <a href=""  class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </aside>
						
                        <aside class="row blog_item">
                           
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/pain.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>pain feuilleté roulé farci au poulet</h2>
                                        </a>
                                        <p>
											pour la pâte:
500 gr de semoule fine (le renard pour moi) <br>

300 à 350 ml d’eau selon la qualité de la semoule <br>

2 càc de sel <br>

15 gr de levure fraiche de boulanger <br>

pour la farce:
500 gr d’escalope de poulet entières ou hachées, j’ai mélangé 350 gr d’escalope de poulet et 150 gr de bœuf haché mais on peut mettre que du poulet

1 oignon

1 belle gousse d’ail

un petit poivron vert ou rouge

3 càs d’huile d’olive

2 tomates fraiches bien mûres

1 càc de paprika doux, 1 pincée de cumin

1 càs de persil frais et de coriandre hachée
										</p>
                                        <a href="single-blog.html" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <aside class="row blog_item">
                           
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="img/pizza.jpg" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Pizza italienne maison facile </h2>
                                        </a>
                                        <p>
											Pour la pâte (3 pizzas avec ces proportions)
500 g de farine (ou un mélange de 250 g de farine normale + 250 g de farine à pain) <br>
1 c. à café de sel <br>
1 c. à soupe d'huile d'olive <br>
1 sachet de levure de boulanger déshydratée (soit environ 6 à 8 g en général) <br>
250 ml d'eau à température ambiante <br>
Pour la garniture :
2 Oignons
2 gousses d'ail
300 ml de passata ou coulis de tomate
Mozzarella ou Fromage râpé type Emmental
Chiffonnade de jambon italien
Olives noires
Roquette
										</p>
                                        <a href="single-blog.html" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </aside>
						</aside>
						
				
						
                        
                        
                    </div>
                </div>
				
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							
						</p>
					</div>
				</div>
				
				
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<!--================Contact Success and Error message Area =================-->
	<div id="success" class="modal modal-message fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
					<h2>Thank you</h2>
					<p>Your message is successfully sent...</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Modals error -->

	<div id="error" class="modal modal-message fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
					<h2>Sorry !</h2>
					<p> Something went wrong </p>
				</div>
			</div>
		</div>
	</div>
	<!--================End Contact Success and Error message Area =================-->


	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>